@font-face 
{
    font-family: circular;
    src: url("circular.ttf") format("truetype");
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
body
{
	margin: 0;
	padding: 0;
	background-color: rgba(45,0,0,1);
	background: linear-gradient(180deg, rgba(45,0,0,1) 0%, rgba(214,0,0,1) 100%, rgba(138,1,1,1) 100%);
}	

@keyframes slide
{
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
}

.parallax 
{
	
	background-image: url("fotoHome.jpg");
	min-height: 500px;

	height: 100%;

	/*creano l'effetto*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.testoAnimato 
{
	display: inline-block;
	overflow: hidden;
}

.scrittaTitolo 
{
	animation: slide 2s ease-in-out;
	text-align: center;
	margin: auto;
	font-family: circular;
	font-size: 50px;
	background: linear-gradient(45deg, rgb(255, 253, 209), rgb(194, 69, 45), rgb(153, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
	position: absolute;
	z-index: 1000;
	top: 200px;
	left: 660px;
}

.sottoTitolo
{
	color: #111111;
    animation: slide 2s ease-in-out;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: auto;
	font-family: circular;
	font-size: 35px;
}

.info
{
	text-align: right;
	color: white;
	font-family: circular
}

#infoPoint
{
	padding: 20px 40px;
	font-size: 20px;
	color: white;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
    font-size: 15px;
    cursor: pointer;
	background-color: transparent;
}

.nascondi 
{
    display: none;
}


.recensioneTopboy
{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneNemo{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneStranger{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneGreatest{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneWalking{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneDivergent{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneSplit{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensionePercy{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneTVD{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.recensioneLucifer{
	padding: 10px;
    font-size: 25px;
	margin: auto;
	font-family: circular;
	text-align: center;
}

.contenitoreImmmagini 
{
	display: flex;
	justify-content: space-between; 
	flex-direction: row;
	align-items: center;
}

.contenitoreImmmagini img 
{
	max-width: 100%; 
	margin: auto; 
}

.contenitoreImmmagini2 
{
	display: flex;
	justify-content: space-between; 
	flex-direction: row;
	align-items: center;
	margin-right: 2px;
}

.contenitoreImmmagini2 img 
{
	max-width: 100%; 
	margin: auto;
}

a:link 
{
	color: #222222;
	background-color: transparent;
	text-decoration: none;
}
  
a:visited
{
	color: #fffdd1;
	background-color: transparent;
	text-decoration: none;
}
  
a:hover 
{
	/*colore passando sopra col cursore*/
	color: #222222;
	background-color: transparent;
	text-decoration: underline;
}
  
a:active 
{
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}

p{
	text-align: center;
	font-size: 1.2em;
	font-family: circular;
	color:white;
}
footer{
	padding: 35px 35px;
	margin-top: 20px;
	background-color: rgba(45,0,0,1);
}
